*{
  color: black;
}
.navbar{
  padding: 10px 20px;
}
.white{
  background-color: white !important;
  color : black !important;
  border-radius: 30px;
}
.green{
  background-color: green !important;
  color : white !important;
  border-radius: 30px;
  padding: 10px 20px !important;
  margin-top: 5px;
}
.right a{
  padding: 6px 12px;
  color: white;
  text-decoration: none;
}
.video{
  width: 400px;
  height: 300px;
}
.vidcontainer{
  position: relative;
}
.nav li:hover{
  background-color:none !important;
}
.banner{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  text-align: center;
  padding: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.buttont{
  display: flex;
  flex-direction: row;
}
.play{
  position: absolute;
  top: 43%;
  left: 43%;
  border-radius: 50%;
}
.buttons a{
  padding: 15px 25px;
  margin: 20px;
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 30px;
}
.trans{
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 30px;
  margin : 20px;
  color: white;
}
.botmenu{
  width: 100%;
  background-color: CornflowerBlue ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .buttons{
    flex-direction: column !important;
  }
  .buttont{
    flex-direction: column !important;
  }
  .trans{
    width: 100%;
    text-align: center;
  }
}
