*{
  color: black;
  background-color: lightblue;
}
.navbar{
  padding: 10px 20px;
}
.white{
  background-color: white !important;
  color : black !important;
  border-radius: 30px;
}
.green{
  background-color: green !important;
  color : white !important;
  border-radius: 30px;
  padding: 10px 20px !important;
  margin-top: 5px;
}
.right a{
  padding: 6px 12px;
  color: white;
  text-decoration: none;
}
.video{
  width: 400px;
  height: 300px;
}
.vidcontainer{
  position: relative;
}
.banner{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.play{
  position: absolute;
  top: 43%;
  left: 43%;
  border-radius: 50%;
}
.buttons a{
  padding: 10px 20px;
  margin: 20px;
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 20px;
}
@media only screen and (max-width: 800px) {
  .buttons{
    flex-direction: column !important;
  }
}
